
@font-face {
  font-family: "Gotham Rounded";
  src: url('/fonts/GothamRounded-Bold.woff') format('woff'), 
       url('/fonts/GothamRounded-Bold.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url('/fonts/GothamMedium.woff') format('woff'),
       url('/fonts/GothamMedium.ttf') format('truetype');
  font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url('/fonts/GothamMedium-Italic.woff') format('woff'),
       url('/fonts/GothamMedium-Italic.ttf') format('truetype');
  font-weight: normal;
    font-style: oblique;
}

@font-face {
  font-family: "Gotham";
  src: url('/fonts/GothamBold.woff') format('woff'),
       url('/fonts/GothamBold.ttf') format('truetype');
  font-weight: bold;
}


body{ background-color: 232323; color: #F4F4F4; }
.container { padding: 10vh 0; }
@media screen and (min-width: 768px) { p { font-size: 1.5em; } }
h1 { font-size: 5vh; padding-bottom: 5vh; }
#contact { padding-top: 2vh; padding-bottom: 5vh; }
#contact h3 { color: #f4f4f4; }
h3 span { background-color: #5c03db; padding: 5px; }
p { font-family: Gotham, Helvetica, sans-serif; }
h1 span { font-family: "Gotham Rounded", Helvetica, sans-serif; background-color: #5c03db; padding-left: 2px; padding-right: 2px; }
img { padding-top: 5vh; }
label { color: #f4f4f4; }
strong { background-color: #5c03db; padding: 5px; }
.button { background-color: #5c03db; }
#form { background-color: #f4f4f4; padding: 5px 10px; }
.response { color: #232323; }